@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  
    a, span{ 
        color: #ffffff;
        font-style: normal;
        text-decoration: none;
    }


    h3, .date {
        color: #17abb3;
    }

    
    .bold, dt {
        font-weight: bold;
    }

    dd, footer {
        font-style: oblique;
        font-size: smaller ;
    }

    p{
        text-align: justify;
        text-indent: 50px;
    }

    
    time {
        color: #ffffff;
    }

    ul, dl{
        list-style-type: none;
    }
    
    .square {
        list-style-type: square;
    }

    ul li::marker {
    color :#17abb3;
    }